body {
    font-family: 'Helvetica', sans-serif;
    background-color: #efecc0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background:#d9d8cc;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #3b4045;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d8d38d;
}

h1, h2, h3 {
    color: #222;
}

button {
    color: #d8d38d;
    background: ;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #d8d38d;
}

header {
    background: url("banner-image.jpg") no-repeat center center;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downloadResume {
    padding: 10px 20px;
    background-color: goldenrod;
    color: white
    border: none;
    border-radius: 8px;
    cursor: pointer
    font-size: 16px;
}

#downloadResume:hover {
    background-color: coral;
}

form {
    max-width: 550px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #eeebcc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: sans-serif;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#formFeedback {
    color: #4CAF50
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}